


#opdracht-2{

}

.chat{
    border: 2px solid red;
    border-radius: 4px;
    margin: 4px;
    background-color: #f1f1f1;
}

.chat .chat__header{
    display: flex;
    justify-content: center;
    padding: 4px;
}


/*#student-start*/

.chat .chat__header h2{
    font-size: larger;
    font-weight: bold;
}

.chat .chat__message{
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.chat .chat__message button{
    display: flex;
    align-self: flex-end;
    margin: 4px;
    background-color: greenyellow;
    border-radius: 4px;
    padding: 10px;
}
.chat .chat__footer p{
    display: none;
}
/*#student-end*/

/*#student-start*/
@media (min-width:800px) {
    .chat{
        position: fixed;
        bottom: 0;
        right: 0;
    }
}
/*#student-end*/
