#opdracht-1{
    font-family: Arial;
}

ul{
    list-style-type: none;
    width: 400px;
}

ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid darkgray;
    margin-right: 70px;
}

ul li:nth-child(odd){

background-color: lightgrey;

}

ul li:nth-child(1){
    border-top: 1px solid darkgray;
}

ul li span {

    margin-right: 10px;

}

.rondje{
    display: none;
}



/*student uitwerking*/
@media only screen and (min-width: 800px) {

    ul {
        width: 100%;
    }

    .rondje{
        background-color: black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: antiquewhite;
        justify-content: center;
        display: flex;
        position: relative;
    }


}